.date-picker {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #4a5568;
  background-color: #2d3748;
  color: white;
  width: 100%;
}

.date-picker:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 1px #4299e1;
}

.react-datepicker {
  font-family: inherit;
  background-color: #2d3748;
  border-color: #4a5568;
}

.react-datepicker__header {
  background-color: #1a202c;
  border-bottom-color: #4a5568;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: white;
}

.react-datepicker__day:hover {
  background-color: #4299e1;
}

.react-datepicker__day--selected {
  background-color: #4299e1;
}

.react-datepicker__day--keyboard-selected {
  background-color: #4299e1;
}

.react-datepicker__day--disabled {
  color: #4a5568;
}

.react-datepicker__navigation-icon::before {
  border-color: white;
}

.react-datepicker__navigation:hover *::before {
  border-color: #4299e1;
}